table {
    margin: 0;
    width: 80%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}
tr td {
    padding-right: 10px;
    width: 25%;
}

label {
    width:100%;
}

label {
    text-align: left;
}

button {
    margin-right: 10px;
}

.left {
    text-align: left;
    width: 80%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}